<ng-container *ngTemplateOutlet="videoChat
    context: {
        streamSubject: streamSubject$ | async
    }">
</ng-container>
<ng-template #videoChat>
    <div class="frame">
        <div class="video-chat">
            <div [ngClass]="{'full-video': !connectionService.peerConnected , 'pop-window': connectionService.peerConnected }">
                <video id="user1" [srcObject]="localVideo" autoplay playsinline [muted]="'muted'"></video>
            </div>
            <div *ngIf="connectionService.peerConnected" class="full-video">
                <video id="user2" [srcObject]="remoteVideo" autoplay playsinline></video>
            </div>
        </div>
        <div class="call-controls">
            <div class="icon" (click)="toggleCamera()">
                <p *ngIf="connectionService?.isCameraOn; else cameraOff"><i class="bi bi-camera-video-fill"></i></p>
                <ng-template #cameraOff>
                    <p><i class="bi bi-camera-video-off-fill"></i></p>
                </ng-template>
            </div>
            <div class="icon" (click)="toggleMic()">
                <p *ngIf="connectionService?.isMicOn; else micOff"><i class="bi bi-mic"></i></p>
                <ng-template #micOff>
                    <p><i class="bi bi-mic-mute"></i></p>
                </ng-template>
            </div>
            <div class="icon cross" (click)="disconnect()">
                <p><i class="bi bi-x"></i></p>
            </div>
        </div>
    </div>
</ng-template>
