<div class="main">
    <h1 class="title">V-Chat</h1>
    <form [formGroup]="inputForm" class="form">
        <input type="text" formControlName="input" class="form-control" placeholder="Enter Room Name">
        <div class="btn-group">
            <button class="btn btn-dark mr-3" [disabled]="!inputForm.valid" (click)="joinChannel()">Create Room</button>
            <button class="btn btn-outline-dark ml-3" [disabled]="!inputForm.valid" (click)="joinChannel()">Join Room</button>
        </div>
    </form>
</div>